body {
    width: 100%;
    overflow: hidden;
    background-color: #fbff8eba;
    font-family:"Comic Sans MS", "Comic Sans",'Comic Neue', sans-serif;
}

.celular {
    display: none;
    z-index: 0;
}

.computador {
    display: block;
    z-index: 0;
}

.estilo_jogo_parado {
    top: 0;
    right: 0;
    display: none;
    flex-direction: column;
    color: white;
    position: absolute;
    background-color: rgba(31, 28, 28, 0.951);
    z-index: 1;
    height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.botao_jogo_parado {
    --color: #00A97F;
    --color2: rgb(10, 25, 30);
    padding: 0.8em 1.75em;
    background-color: transparent;
    border-radius: 6px;
    border: .3px solid var(--color);
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    font-weight: 300;
    font-size: 17px;
    font-family: 'Roboto', 'Segoe UI', sans-serif;
    text-transform: uppercase;
    color: var(--color);
}

.botao_jogo_parado::after,
.botao_jogo_parado::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.botao_jogo_parado::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.botao_jogo_parado:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.botao_jogo_parado:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.botao_jogo_parado:hover {
    color: var(--color2);
}

.botao_jogo_parado:active {
    filter: brightness(.7);
    transform: scale(.98);
}

@media (max-width: 600px) {
    body {
        width: 100%;
    }

    .estilo_jogo_parado{
        display: none;
        width: 100%;
    }

    .celular {
        display: block;
    }

    .computador {
        display: none;
    }
}

