* {
    margin: 0;
    padding: 0px;
  }

  img {
    height: 48vh;
    width:  fit-content;
    border: solid;
    margin: 2px;
  }

  svg {
    height: 48vh;
    border: solid;
    margin: 2px;
  }

  .principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
  }

  @media (max-width: 600px) {
    img {
      height: auto;
      width: 98%;
    }

    svg {
      height: auto;
      width: 98%;
    }
  }