body{
    font-family:"Comic Sans MS", "Comic Sans",'Comic Neue', sans-serif;
}

section{
    padding: 5px;
}

img {
    width: 48%;
    padding: 5px;
}

.ordenar-coluna {
    display: flex;
    flex-direction: column;
}

.espacamento-milhao{
    margin: 10px;
}

.espacamento-milhao-celular{
    margin: 3px 10px;
}

.tamanho-fonte{
    font-size: 1.3em;
    color: black;
}

.tamanho-fonte-celular{
    font-size: 1em;
}

.alinhamento-horizontal{
    display: flex;
    flex-direction: row;
}

.largura-50{
    width: 50%;
    padding: 5px;
}

.centralizar-conteudo{
    align-items: center;
    justify-content: center;
}

.botao-milhao{
    padding: 5px;
}

.btn{
    border: none;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

#btPular{
    background-color: #ed5c53;
}

#btPular:hover{
    background-color: #a62520;
    color: white;
}

#meuBotao{
    background-color: #74a7e4;
}

#meuBotao:hover{
    background-color: #336ca5;
    color: white;
}

@media (max-width: 600px) {
    body{
        width: 100%;
    }

    #espacamento-milhao-celular{
        margin: 10px;
    }

    .tamanho-fonte-celular{
        padding: 10px;
    }    
}