
* {
  margin: 0;
  padding: 0;
}

body{
  overflow: auto;
}

h1{
  font-size: 3em;
  font-weight: 500;
}
.botao_jogo_parado{
  --color: #def700;
  width: 15%;
}

button{
  border-radius: 10px;
}

.botao_jogo{
  --color: #000000;
  --color2: rgb(255, 255, 255);
  font-weight: 400;
  background-color:rgb(0, 213, 255);
  margin-top: 6px;
  padding: 0.4em 0.4em;
  width: 10%;
}

h1 {
  text-align: center;
  margin: 10px 0px;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.botoes-inicio-game{
  height: 6em;
  width: 6em;
  margin-top: 2em;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px;
}

.material-symbols-rounded{
  font-size: 4em;
  color: #000000;
}

.word-board {
  border: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 800;
  margin: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 8rem;
  line-height: 30px;
  text-transform: uppercase;
}

.dificuldade-game{
  display: flex;
  flex-direction: column;
}

.word-board-line{
  display: grid;
  grid-template-columns: 150px 150px;
  justify-content: center;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#board {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

#board div {
  display: flex;
}

.segunda-linha {
  margin: 0.8rem 0;
}

.terceira-linha{
  margin-bottom: 0.8rem;
}

.board-button {
  font-size: 1.3rem;
  border: 1px solid black;
  cursor: pointer;
  text-transform: uppercase;
  color: black;
  background-color: transparent;
}

.board-button-9 {
  flex: 0 0 calc(100% / 9); 
}

.board-button-11 {
  flex: 0 0 calc(100% / 11); 
}

.board-button-13 {
  flex: 0 0 calc(100% / 13); 
}

.board-button:hover {
  background-color: rgb(245, 242, 59);
}

.board-button-click {
  background-color: #ffc861;
  border: 1px solid rgb(120, 0, 0);
}

.board-button-over {
  background-color: #61ff8b;
  border: 1px solid rgb(120, 0, 0);
}

.board-button-line {
  background-color: rgb(245, 242, 59);
  border: 1px solid rgb(120, 0, 0);
}

.board-button-found {
  background-color: rgb(156, 174, 255);
  border: 1px solid rgb(39, 70, 192);
}

#del,
#enter {
  width: fit-content;
  padding: 10px;
}

#del{
  background-color: rgb(219, 91, 91);
}

#enter{
  background-color: rgb(82, 177, 82);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: 0.7px 1.4px 1.4px hsl(0deg 0% 0% / 0.48);
  font-family: "Comic Sans MS", "Comic Sans", 'Comic Neue', sans-serif;
}

.letter {
  align-items: center;
  border: .125em solid #fafaff8e;
  border-radius: 10%;
  box-sizing: border-box;
  color: #fafaff;
  display: inline-flex;
  font-weight: 500;
  height: 2em;
  justify-content: center;
  margin: 0 .05em;
  width: 2em;
  font-size: 3em; /* Ajuste o tamanho da fonte conforme necessário */
}


.letter.right {
  color: #000000;
  background-color: rgb(85, 189, 85);
  border: none;
}

p .letter {
  font-size: 1em;
}

.example {
  font-size: .333em;
  margin: 10px;
}

.letter.place {
  background-color: rgb(187, 187, 81);
  border: none;
  color: #000000;
}

.letter.wrong {
  background-color: pink;
  border: none;
  color: #000000;
}

p {
  color: #bbb;
  text-align: center;
  margin: 10px;
  font-size: 1.4em;
}

#mensagemTutorial{
  box-sizing: border-box;
  padding: 5px;
  overflow:auto;
  height: auto;
  background-color: rgb(58, 50, 50);
}

.transparent{
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 4px;
  width: 40px;
  padding: 10px;
  text-transform: uppercase;
  background-color: transparent;
  color: transparent;
  box-shadow: none;  
  cursor: context-menu;
}

#btn_ajuda{
  background-color: rgb(230, 255, 90);
}

#btn_play{
 background-color: rgb(146, 255, 74);
}

#bt_continuar{
  display: none;
}

.btn-jogo{
  font-size: 1.5em;
  width: 8em;
  padding: 0.5em;
  margin: 0.5em;
  background-color: transparent;
  border: solid white;
  color: white;
}

.btn-jogo:hover{
  background-color: #f1ff76;
  color: #000000;
  transition: background-color 0.5s ease;
}

.btn-desistir{
  background-color: rgb(252, 82, 82);
  border: rgb(255, 148, 148);
  color: white;
}

.btn-desistir:hover{
  background-color: #000000;
  color: #ffffff;
  transition: background-color 0.5s ease;
}

#words{
  margin-top: 20px;
  margin-bottom: 20px;
}

@media (max-width: 600px) {
  p{
    font-size: 1.1em;
    margin: 5px;
  }

  .letter {
    font-size: 3em;
  }

  .botao_jogo_parado{
    width: initial;
  }
}
