* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 10px 0px;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#keyboard-cont div {
  display: flex;
}

.segunda-linha {
  margin: 0.8rem 0;
}

.terceira-linha{
  margin-bottom: 0.8rem;
}

.keyboard-button {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 4px;
  width: 40px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

#del,
#enter {
  width: fit-content;
  padding: 10px;
}

#del{
  background-color: rgb(219, 91, 91);
}

#enter{
  background-color: rgb(82, 177, 82);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: 0.7px 1.4px 1.4px hsl(0deg 0% 0% / 0.48);
  border-radius: 4px;
  font-family: "Comic Sans MS", "Comic Sans", 'Comic Neue', sans-serif;
}

.letter {
  align-items: center;
  border: .125em solid #4c4347;
  border-radius: 10%;
  box-sizing: border-box;
  color: #fafaff;
  display: inline-flex;
  font-weight: 500;
  height: 2em;
  justify-content: center;
  margin: 0 .05em;
  width: 2em;
  font-size: 3.5em;
}

.letter.right {
  background-color: rgb(85, 189, 85);
  border: none;
}

p .letter {
  font-size: 1em;
  height: 1.75em;
  vertical-align: 15%;
  width: 1.75em;
}

.example {
  font-size: .333em;
}

.letter.place {
  background-color: rgb(187, 187, 81);
  border: none;
}

.letter.wrong {
  background-color: #191516;
  border: none;
  color: #5e5c5c;
}

p {
  color: #bbb;
  font-size: 1.5em;
  font-weight: 300;
  display: block;
  margin-block-start: .5em;
  margin-block-end: .5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  text-align: center;
}

.botao_jogo_parado{
  width: 25%;
}

@media (max-width: 600px) {
  p{
    font-size: 1.15em;
  }
  .botao_jogo_parado{
    width: initial;
  }
}
