* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin: 10px 0px;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cabecalho{
  margin: 10px 0px;
  display: flex;
  flex-direction:row;
  justify-content: center;
  width: 100%;
}

.botoes-cabecalho{
  font-size: 2rem;
  font-weight: 500;
  margin: 0px 20px;
  padding: 8px 10px;
  width: 50px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  text-align: center;
}



.letter-box {
  border: 2px solid gray;
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.filled-box {
  border: 2px solid black;
}

.letter-row {
  display: flex;
}

#keyboard-cont {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

#keyboard-cont div {
  display: flex;
}

.segunda-linha {
  margin: 0.8rem 0;
}

.terceira-linha{
  margin-bottom: 0.8rem;
}

.keyboard-button {
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 4px;
  width: 40px;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  color: black;
}

#del,
#enter {
  width: fit-content;
  padding: 10px;
}

#del{
  background-color: rgb(219, 91, 91);
}

#enter{
  background-color: rgb(82, 177, 82);
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  box-shadow: 0.7px 1.4px 1.4px hsl(0deg 0% 0% / 0.48);
  border-radius: 4px;
  font-family: "Comic Sans MS", "Comic Sans", 'Comic Neue', sans-serif;
}

.letter {
  align-items: center;
  border: .125em solid #4c4347;
  border-radius: 10%;
  box-sizing: border-box;
  color: #fafaff;
  display: inline-flex;
  font-weight: 500;
  height: 2em;
  justify-content: center;
  margin: 0 .05em;
  width: 2em;
  font-size: 4em;
}

.letter.right {
  background-color: rgb(85, 189, 85);
  border: none;
}

p .letter {
  font-size: 1em;
}

.example {
  font-size: .333em;
  margin: 10px;
}

.letter.place {
  background-color: rgb(187, 187, 81);
  border: none;
}

.letter.wrong {
  background-color: #191516;
  border: none;
  color: #5e5c5c;
}

p {
  color: #bbb;
  text-align: center;
  margin: 10px;
  font-size: 1.4em;
}

.botao_jogo_parado{
  width: 25%;
}

#mensagemTutorial{
  box-sizing: border-box;
}

.transparent{
  font-size: 1.1rem;
  font-weight: 500;
  margin: 0 4px;
  width: 40px;
  padding: 10px;
  text-transform: uppercase;
  background-color: transparent;
  color: transparent;
  box-shadow: none;  
  cursor: context-menu;
}

#btn_ajuda{
  background-color: rgb(160, 160, 255);
}

#btn_dica{
 background-color: rgb(252, 252, 63);
}

#bt_continuar{
  display: none;
}

@media (max-width: 600px) {
  p{
    font-size: 1.1em;
    margin: 5px;
  }

  .letter {
    font-size: 3em;
  }

  .botao_jogo_parado{
    width: initial;
  }
}
